{% extends 'layouts/base.html' %}

{% block main %}

{% if errors |length > 0 %}
<div class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Error{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul>
{% for e in errors %}
        <li>{% if e.field %}{{ e.field }}: {% endif %}{{ e.error }}</li>
{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% set leftcol = 3 %}
{% set rightcol = 12 - leftcol %}
<form action="/venue/input" method="POST">
<div id="basic" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Basic Information{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#basic-en">{% trans %}English{% endtrans %}</a></li>
        <li class="tab col s3"><a href="#basic-ja">{% trans %}Japanese{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
  <div id="basic-en">
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Name (English){% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="name" placeholder="{% trans %}Name of the venue (English){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Address (English){% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="address" placeholder="{% trans %}Address of the venue (English){% endtrans %}">
      </div>
    </div>
  </div>
  <div id="basic-ja">
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Name (Japanese){% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="name#ja" placeholder="{% trans %}Name of the venue (Japanese){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Address (Japanese){% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="address#ja" placeholder="{% trans %}Address of the venue (Japanese){% endtrans %}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button class="submit">{% trans %}Create{% endtrans %}</button>
    </div>
  </div>
</div>
<div class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Location{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s{{ leftcol }} label">{% trans %}Latitude{% endtrans %}</div>
    <div class="col s{{ rightcol }}">
      <input type="text" name="latitude">
    </div>
  </div>
  <div class="row">
    <div class="col s{{ leftcol }} label">{% trans %}Longitude{% endtrans %}</div>
    <div class="col s{{ rightcol }}">
      <input type="text" name="longitude">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div id="map" style="height: 300px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button class="submit">{% trans %}Create{% endtrans %}</button>
    </div>
  </div>
</div>
</form>

{% endblock %}

{% block embedded_scripts %}
<script type="text/javascript">
<!--
  var defaultLatlng = {lat: 35.65869018850232, lng: 139.7017197449951};
  var venue = {% if venue %}{{ venue | tojson }}{% else %}{}{% endif %};
  function initMap() {
    var e = document.getElementById('map');
    var lat = venue.lat ? venue.lat : defaultLatlng.lat;
    var lng = venue.lng ? venue.lng : defaultLatlng.lng;

    $("input[name='longitude']").val(lat);
    $("input[name='latitude']").val(lng);
    var map = new google.maps.Map(e, {
      center: {'lat': lat, 'lng': lng},
      scrollwheel: false,
      zoom: 14
    });
    var marker = new google.maps.Marker({
      position: {'lat': lat, 'lng': lng},
      map: map,
    });
    map.addListener('center_changed', function() {
      var latlng = map.getCenter();
      marker.setPosition(latlng);
      $("input[name='longitude']").val(latlng.lng());
      $("input[name='latitude']").val(latlng.lat());
    });
  }

  $(document).ready(function() {
    var keys = ['name', 'address', 'name#ja', 'address#ja' ];
    $(keys).each(function(i, k) {
      if (venue[k]) {
        $("input[name='" + k + "']").val(venue[k]);
      }
    });
  });
-->
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
{% endblock %}
