<!doctype html>
<html lang="ja">
<head>
  <title>{% block title %}admin::builderscon{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  {% block additional_styles %}{% endblock %}
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url('static', filename='css/styles.css') }}">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  {% block additional_scripts %}{% endblock %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<head>
<body id="{% block body_id %}{% endblock %}">
  <a id="top" name="top"></a>
  <div id="wrapper">
    <header id="header">
      <div class="inner">
        <h1>
          <a href="/"><img alt="builderscon" src="{{ url('static', filename='images/logo.png') }}"/></a>
        </h1>
        <div class="btn-menu"><a href="#menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div><!--  / .btn-menu /  -->
      </div>
      <nav id="menu">
        <div id="gnavi">
          <ul class="menu">
            {% block menuitems %}
              <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
              <li><a href="/conference">{% trans %}Conference{% endtrans %}</a></li>
              <li><a href="/venue">{% trans %}Venue{% endtrans %}</a></li>
            {% endblock %}
          </ul><!-- ul.menu -->
        </div><!-- div#gnavi -->
      </nav><!-- nav#menu -->
    </header>
    <div id="contents" class="{% block contents_id %}index{% endblock %}">{% block main %}{% endblock%}</div>
    <aside>
      <div id="footer-logo">builderscon</div>
    </aside>
    <footer id="footer">
      <div class="inner">
        <div class="contents">
          <p>{% trans %}builderscon is a festival for the technology lovers.{% endtrans %}</p>
          <address>&copy; 2016 builderscon</address>
        </div>
      </div>
    </footer>
  </div>
{% block embedded_scripts %}{% endblock %}
</body>
</html>

