{% extends 'layouts/base.html' %}

{% block body_id %}login{% endblock %}

{% block main %}
<main>
{% if error %}
<div class="section error">
  <div class="inner">
    <h1>{% trans %}Error{% endtrans %}</h1>
    <div class="content">{{ _(error) }}</div>
  </div>
</div>
{% endif %}

<div class="section">
  <div class="inner">
    <h1 class="header">{% trans %}Login{% endtrans %}</h1>
    <div class="content">
{% for href, name, image in [ ('/login/github', 'GitHub', '/static/images/github-120px.png'), ('/login/facebook', 'Facebook','/static/images/facebook-120px.jpg'), ( '/login/twitter', 'Twitter','/static/images/twitter-120px.png') ] %}
      <div class="login-row row">
        <div class="login-icon s1 col">
          <img src="{{ image }}">
        </div>
        <div class="login-link s11 col">
          <a href="{{ href }}{% if next_url %}?.next={{ next_url | urlencode }}{% endif %}">{% trans %}Login with {{ name }}{% endtrans %}</a>
        </div>
      </div>
{% endfor %}
    </div>
  </div>
</div>
{% endblock%}