{% extends 'layouts/base.html' %}
{% import "component/macros.html" as macros %}
{% include 'component/message-modal.html' %}

{% block body_id %}conference{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="/static/css/materialize.clockpicker.css">
{% endblock %}
{% block additional_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script src="/static/js/materialize.clockpicker.js"></script>
{% endblock %}

{% block main %}

{% call macros.fullwidth_row() %}
    <h2>{{ conference.title }}</h2>
{% endcall %}

<div class="row">
  <div class="col s12 m9 l10">
{% call macros.roundbox('miscellaneous', _('Miscellaneous')) %}
{% call macros.fullwidth_row() %}
            <ul>
              <li><a href="/conference/{{ conference.id }}/blog_entries">{% trans %}Blog Entries{% endtrans %}</a></li>
              <li><a href="/conference/{{ conference.id }}/sessions">{% trans %}Session List{% endtrans %}</a></li>
            </ul>
{% endcall %}{# macros.fullwidth_row #}
{% endcall %}

{% call macros.roundbox('venues', _('Venue')) %}
{{ macros.add_link('venue') }}
        <div id="venue-list"></div>
        <div id="add-venue-form" class="modal modal-fixed-footer">
          <form action="/api/conference/venue/add" method="POST">
          <input type="hidden" name="conference_id" value="{{ conference.id }}">
          <div class="modal-content">
{% call macros.form_row(_('Venue')) %}
                <select name="venue_id"></select>
{% endcall %}
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col s12">
                <button id="add-venue-proceed" class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons left">send</i>
                  {% trans %}Proceed{% endtrans %}
                </button>
              </div>
            </div>
          </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('tracks', _('Tracks')) %}
{{ macros.add_link('track') }}
        <div class="tracks"></div>
        <div id="add-track-form" class="modal modal-fixed-footer">
          <form action="/api/track/create" method="POST">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#track-basic-en">{% trans %}English{% endtrans %}</a></li>
                    <li class="tab col s3"><a href="#track-basic-ja">{% trans %}Japanese{% endtrans %}</a></li>
                  </ul>
                </div>
              </div>
              <div id="track-basic-en">
{% call macros.form_row(_('Name (English)')) %}
                    <input type="text" name="name" placeholder="{% trans %}Name (English){% endtrans %}" />
{% endcall %}
              </div>
              <div id="track-basic-ja">
{% call macros.form_row(_('Name (Japanese)')) %}
                    <input type="text" name="name#ja" placeholder="{% trans %}Name (Japanese){% endtrans %}" />
{% endcall %}
              </div>
{% call macros.form_row(_('Room')) %}
                  <select name="room_id"></select>
{% endcall %}
{% call macros.form_row(_('Sort Order')) %}
                  <input type="text" name="sort_order" placeholder="0-99, ascending order" />
{% endcall %}
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-track-proceed" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add Track{% endtrans %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('organizers', _('Organizers')) %}
{{ macros.add_link('organizer') }}
        <div class="users"></div>
        <div id="add-organizer-form" class="modal modal-fixed-footer">
          <form action="/api/conference/administrator/add" method="POST">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">
                  <input type="text" name="autocomplete_user_id" placeholder="Type a user nickname (e.g. 'uzulla')">
                  <input type="hidden" name="user_id">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-organizer-proceed" class="btn waves-effect waves-light" type="submit" name="action">Submit
                </div>
              </div>
            </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('staff', _('Staff')) %}
{{ macros.add_link('staff') }}
        <div class="users"></div>
        <div id="add-staff-form" class="modal modal-fixed-footer">
          <form action="/api/conference/staff/add" method="POST">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">
                  <input type="text" name="autocomplete_user_id" placeholder="Type a user nickname (e.g. 'uzulla')">
                  <input type="hidden" name="user_id">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-staff-proceed" class="btn waves-effect waves-light" type="submit" name="action">Submit
                </div>
              </div>
            </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('twitter', _('Twitter')) %}
{% call macros.fullwidth_row() %}
            <p><a href="/conference/{{ conference.id }}/twitter/authenticate">{% trans %}Authenticate Twitter Account{% endtrans %}</a></p>
            <form action="/conference/{{ conference.id }}/twitter" method="POST">
              <div class="input-field">
                <label for="tweet">Tweet</label>
                <textarea name="tweet"></textarea>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">
                <i class="material-icons left">send</i>Submit
              </button>
            </form>
{% endcall %}{# macros.fullwidth_row #}
{% endcall %}

{% call macros.roundbox('basic', _('Basic Information')) %}
      <form action="/conference/{{ conference.id }}/edit" method="POST">
{% call macros.form_row(_('Conference Series')) %}
            <select name="series_id">
      {% for series in conference_series %}
              <option value="{{ series.id }}">{{ series.title }}</option>
      {% endfor %}
            </select>
{% endcall %}
{% call macros.form_row(_('Status')) %}
            <select name="status">
              <option value="private">{% trans %}private{% endtrans %}</option>
              <option value="public">{% trans %}public{% endtrans %}</option>
            </select>
{% endcall %}
{% call macros.form_row(_('Redirect URL')) %}
            <input type="text" name="redirect_url" value="{{ (conference.redirect_url or '') | e }}">
{% endcall %}
{% call macros.form_row(_('Timetable Available')) %}
            <input type="checkbox" class="filled-in" id="timetable_available-checkbox" name="timetable_available" value="true"{% if conference.timezone_available %} checked="checked"{% endif %}>
            <label for="timetable_available-checkbox">{% trans %}Yes{% endtrans %}</label>
{% endcall %}
{% call macros.form_row(_('Timezone')) %}
             <select id="timezone-select" name="timezone"></select>
{% endcall %}
{% call macros.fullwidth_row() %}
            <ul class="tabs">
              <li class="tab col s3"><a href="#basic-en">{% trans %}English{% endtrans %}</a></li>
              <li class="tab col s3"><a href="#basic-ja">{% trans %}Japanese{% endtrans %}</a></li>
            </ul>
{% endcall %}
        <div id="basic-en">
{% call macros.form_row(_('Title')) %}
              <input type="text" name="title" placeholder="{% trans %}Conference Title (English){% endtrans %}">
{% endcall %}
{% call macros.form_row(_('Sub Title')) %}
              <input type="text" name="sub_title" placeholder="{% trans %}Conference Sub Title (English){% endtrans %}">
{% endcall %}
{% call macros.form_row(_('Description')) %}
              <textarea name="description" placeholder="{% trans %}Description (English){% endtrans %}"></textarea>
{% endcall %}
        </div>
        <div id="basic-ja">
{% call macros.form_row(_('Title')) %}
              <input type="text" name="title#ja" placeholder="{% trans %}Conference Title (Japanese){% endtrans %}">
{% endcall %}
{% call macros.form_row(_('Sub Title')) %}
              <input type="text" name="sub_title#ja" placeholder="{% trans %}Conference Sub Title (Japanese){% endtrans %}">
{% endcall %}
{% call macros.form_row(_('Description')) %}
              <textarea name="description#ja" placeholder="{% trans %}Description (Japanese){% endtrans %}"></textarea>
{% endcall %}
        </div>
        <div class="row">
          <div class="col s12">
            <button id="conference-update" class="btn waves-effect waves-light" type="submit" name="action">
              <i class="material-icons left">send</i>
              {% trans %}Update{% endtrans %}
            </button>
          </div>
        </div>
      </form>
{% endcall %}

{% call macros.roundbox('components', _('Text Components')) %}
      <form action="/conference/{{ conference.id }}/edit" method="POST">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#components-en">{% trans %}English{% endtrans %}</a></li>
              <li class="tab col s3"><a href="#components-ja">{% trans %}Japanese{% endtrans %}</a></li>
            </ul>
          </div>
        </div>
        <div class="row" id="components-en">
          <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header active">{% trans %}Contact Information (English){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="contact_information"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Lead Text (English){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_lead_text"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Pre-Submit Instructions (English){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_pre_submit_instructions"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Post-Submit Instructions (English){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_post_submit_instructions"></textarea>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" id="components-ja">
          <div class="col s12">
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header active">{% trans %}Contact Information (Japanese){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="contact_information#ja"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Lead Text (Japanese){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_lead_text#ja"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Pre-Submit Instructions (Japanese){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_pre_submit_instructions#ja"></textarea>
                </div>
              </li>
              <li>
                <div class="collapsible-header">{% trans %}CFP Post-Submit Instructions (Japanese){% endtrans %}</div>
                <div class="collapsible-body">
                  <textarea name="cfp_post_submit_instructions#ja"></textarea>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="components-update" class="btn waves-effect waves-light" type="submit" name="action">
              <i class="material-icons left">send</i>
              {% trans %}Update{% endtrans %}
            </button>
          </div>
        </div>
      </form>
{% endcall %}

{% call macros.roundbox('dates', _('Dates')) %}
{{ macros.add_link('date') }}
        <div id="add-date-form" class="modal modal-fixed-footer">
          <form action="/api/conference/date/add" method="POST">
            <div class="modal-content">
              <input type="hidden" name="conference_id" value="{{ conference.id }}">
{% call macros.form_row(_('Date')) %}
                  <input type="text" name="date" class="date">
{% endcall %}
{% call macros.form_row(_('Start Time')) %}
                  <input type="text" name="start_time" class="time">
{% endcall %}
{% call macros.form_row(_('End Time')) %}
                  <input type="text" name="end_time" class="time">
{% endcall %}
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-date-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="dates"></div>
          </div>
        </div>
{% endcall %}

{% call macros.roundbox('session_types', _('Session Types')) %}
{{ macros.add_link('session-type') }}
        <div id="add-session-type-form" class="modal modal-fixed-footer">
          <form action="/api/conference/session_type/add" method="POST">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#session-type-en">{% trans %}English{% endtrans %}</a></li>
                    <li class="tab col s3"><a href="#session-type-ja">{% trans %}Japanese{% endtrans %}</a></li>
                  </ul>
                </div>
              </div>
              <div id="session-type-en">
{% call macros.form_row(_('Name (English)')) %}
                    <input type="text" name="name">
{% endcall %}
{% call macros.form_row(_('Abstract (English)')) %}
                    <input type="text" name="abstract">
{% endcall %}
              </div>
              <div id="session-type-ja">
{% call macros.form_row(_('Name (Japanese)')) %}
                    <input type="text" name="name#ja">
{% endcall %}
{% call macros.form_row(_('Abstract (Japanese)')) %}
                    <input type="text" name="abstract#ja">
{% endcall %}
              </div>
{% call macros.form_row(_('Duration')) %}
                  <input type="text" name="duration" placeholder="{% trans %}Duration in seconds{% endtrans %}">
{% endcall %}
{% call macros.form_row(_('Submission Start')) %}
                  <input type="text" name="submission_start_date" class="date">
                  <input type="text" name="submission_start_time" class="time">
{% endcall %}
{% call macros.form_row(_('Submissionm End')) %}
                  <input type="text" name="submission_end_date" class="date">
                  <input type="text" name="submission_end_time" class="time">
{% endcall %}
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-session-type-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="session_types"></div>
          </div>
        </div>
{% endcall %}

{% call macros.roundbox('featured-speakers', _('Featured Speakers')) %}
{{ macros.add_link('featured-speaker') }}
        <div class="row featured-speakers"></div>
        <div id="add-featured-speaker-form" class="modal modal-fixed-footer">
          <form action="/api/conference/featured_speaker/add" method="POST" class="col s12">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
{% call macros.form_row(_('Display Name')) %}
                  <input type="text" name="display_name" placeholder="Larry Wall (TimToady)">
{% endcall %}
{% call macros.form_row(_('Avatar URL')) %}
                  <input type="text" name="avatar_url" placeholder="https://upload.wikimedia.org/wikipedia/commons/b/b3/Larry_Wall_YAPC_2007.jpg">
{% endcall %}
{% call macros.form_row(_('Description')) %}
                  <textarea width="10" height="60" name="description" placeholder="Larry Wall is a computer programmer and author, most widely known as the creator of the Perl programming language."></textarea>
{% endcall %}
{% call macros.form_row(_('Description (Japanese)')) %}
                  <textarea width="10" height="60" name="description#ja"></textarea>
{% endcall %}
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-featured-speaker-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('sponsors', _('Sponsors')) %}
{{ macros.add_link('sponsor') }}
        <div class="row sponsors"></div>
        <div id="add-sponsor-form" class="modal modal-fixed-footer">
          <form action="/api/conference/sponsor/add" method="POST">
            <input type="hidden" name="conference_id" value="{{ conference.id }}">
            <div class="modal-content">
{% call macros.form_row(_('Name (English)')) %}
                  <input type="text" name="name" placeholder="Sponsor Name (English)">
{% endcall %}
{% call macros.form_row(_('Name (Japanese)')) %}
                  <input type="text" name="name#ja" placeholder="日本語表記">
{% endcall %}
{% call macros.form_row(_('URL')) %}
                  <input type="text" name="url" placeholder="http://www.company.com">
{% endcall %}
{% call macros.form_row(_('Logo URL')) %}
                  <input type="text" name="logo_url" placeholder="http://www.company.com/logo.png">
                  <p style="font-size: 0.7em; color: #ccc">Please upload the photo at <a href="https://console.cloud.google.com/storage/browser/media-builderscon-1248/conferences/{{ conference.id }}/?project=builderscon-1248">https://console.cloud.google.com/storage/browser/media-builderscon-1248/conferences/{{ conference.id }}/?project=builderscon-1248</a>
{% endcall %}
{% call macros.form_row(_('Group Name')) %}
                  <input type="text" name="group_name" placeholder="tier-1">
{% endcall %}
{% call macros.form_row(_('Sort Order')) %}
                  <input type="text" name="sort_order">
{% endcall %}
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col s12">
                  <button id="add-sponsor-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
{% endcall %}

{% call macros.roundbox('exsternal-resources', _('External Resources')) %}
        <div class="row">
          <div class="col s12">
            <a href="/external_resource/create?conference_id={{ conference.id }}"><i class="vmiddle material-icons">library_add</i> Add an external source</a>
          </div>
        </div>
{% set external_resources = conference.get('external_resources') or [] %}
{% if external_resources|length > 0 %}
{% for resource in external_resources %}
        <div class="row">
          <div class="col s12" style="border-top: 1px solid #d0d0d0; padding-top: 5px;">
            <div>
              <a class="btn waves-effect waves-light" href="/external_resource/{{ resource.id }}/update">Edit</a>
              <a class="btn waves-effect waves-light" href="/external_resource/{{ resource.id }}/delete">Delete</a>
            </div>
            <div><a href="{{ resource.url }}">{{ resource.title }}</a>:{{ resource.description }}</div>
            {% if resource.get('title#ja') %}
            <div><a href="{{ resource.url }}">{{ resource.get('title#ja', '') }}</a>:{{ resource.get('description#ja', '') }}</div>
            {% endif %}
          </div>
        </div>
{% endfor %}
{% endif %}
{% endcall %}
  </div>

{{ macros.scrollspy_toc() }}
</div>

{% endblock %}

{% block embedded_scripts %}
<script type="text/javascript">
<!--
  var conference = {% autoescape false %}{{ conference | tojson }}{% endautoescape %};
  if (! conference.venues) {
    conference.venues = [];
  }
  if (! conference.venues) {
    conference.tracks = [];
  }
  if (! conference.administrators) {
    conference.administrators = [];
  }
  var staff = {% autoescape false %}{{ staff | tojson }}{% endautoescape %};

  function initMap() {
    drawVenues(conference.venues);
  }

  function loadVenues() {
    $.ajax({
      url: '/api/conference/venue/list',
      data: { id: {{ conference.id | tojson }} },
      method: 'GET',
      success: function(data) {
        registerVenues(data);
        drawVenues(data);
      }
    });
  }

  var _venues = {};
  var _rooms = {};
  function registerVenues(venues) {
    console.log("registerVenues");
    _venues = {};
    _rooms = {};
    $.each(venues, function(i, venue) {
      console.log("register venue " + venue.id)
      _venues[venue.id] = venue;
      $.each(venue.rooms, function(i, room) {
      console.log("register room " + room.id)
        _rooms[room.id] = room
      });
    });
    console.log(_venues);
    console.log(_rooms);
  }

  function drawVenues(venues) {
    var $c = $("#venue-list");
    $c.empty();
    $.each(venues, function(i, venue) {
      var id = 'map-' + i;
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-venue-btn btn wafes-effect waves-light').attr('data-id', venue.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            )
          ),
          $('<div />').addClass('col').addClass('s3').append(
            $("<a />").attr("href", "/venue/" + venue.id + "/view").text(venue.name),
            $("<div />").text(venue.address)
          ),
          $("<div />").addClass('col').addClass('s7').append(
            $("<div />").attr("id", id).addClass("map")
          )
        )
      );
      var e = document.getElementById(id);
      var latlng = {lat: venue.latitude, lng: venue.longitude };
      var map = new google.maps.Map(e, {
        center: latlng,
        scrollwheel: false,
        zoom: 14
      });
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: venue.name,
      });
    });

    $('.delete-venue-btn').click(function(e) {
      var $t = $(e.target);
      var id = $t.attr('data-id');
      var v = _venues[id];
      if (!v) {
        alert('failed to load venue by id: ' + id);
        return false;
      }

      var $m = modalDelete(
        '{% trans %}Delete venue warning{% endtrans %}',
        $('<div />').append(
          $('<p />').text('{% trans %}Are you sure you want to remove the following venue ?{% endtrans %}'),
          $('<div />').text(v.name)
        )
      );

      $('.proceed-btn', $m).click(function() {
        $.ajax({
          url: '/api/conference/venue/delete',
          method: 'POST',
          data: { venue_id: id, conference_id: {{ conference.id | tojson }} },
          error: function(xhr, status, err) {
            console.log(err);
          },
          success: function(data) {
            messageModal(
              '{% trans %}Success{% endtrans %}',
              '{% trans %}Successfully deleted venue{% endtrans %}',
              {
                complete: function() {
                  console.log("delete complete");
                  location.href = '/conference/{{ conference.id }}/view';
                }
              }
            );
          }
        });
        return true;
      });
      $m.modal('open')

      return false;
    });
  }

  function setupVenues() {
    $("#add-venue-form").modal({
      ready: function() {
        $('select[name="venue_id"]').mtaerial_select();
      }
    });
    $("#add-venue-proceed").click(function() {
      var $s = $("select[name='venue_id']", "#venues");
      $.ajax({
        method: "POST",
        url: "/api/conference/venue/add",
        data: {
          venue_id: $s.val(),
          conference_id: {{ conference.id | tojson }}
        },
        success: function(data) {
          messageModal(
            '{% trans %}Success{% endtrans %}',
            '{% trans %}Successfully added venue{% endtrans %}',
            {
              dismissible: true,
              complete: function() {
                console.log("add complete");
                location.href = '/conference/{{ conference.id }}/view'
              }
            }
          );
        }
      });
      return false;
    });

    var $s = $("select[name='venue_id']", "#venues");
    $s.empty();
    $s.append($('<option />').text('---'));
    var venues = {{ venues | tojson }};
    $(venues).each(function(i, venue) {
      $s.append(
        $("<option />").attr("value", venue.id).text(venue.name)
      )
    });
    $s.material_select();
  }

  function listTracks(data) {
    var $c = $('.tracks', '#tracks');
    $(data).each(function(i, track) {
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-track-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', track.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            ).click(function() {
              var $m = modalDelete(
                '{% trans %}Delete track warning{% endtrans %}',
                '{% trans %}Are you sure you want to remove the following track?{% endtrans %}: ' + track.name + ' (' + _rooms[track.room_id].name + ')'
              );
              $('.proceed-btn', $m).click(function() {
                $.ajax({
                  url: '/api/track/delete',
                  method: 'POST',
                  data: { 'id': track.id }
                }).fail(function(xhr, status, err) {
                  modalError(err);
                }).done(function(data) {
                  if (data.error) {
                    modalError(data.error);
                    return
                  }
                  $m.modal('close');
                  modalMessage(
                    '{% trans %}Success{% endtrans %}',
                    '{% trans %}Successfully deleted track{% endtrans %}',
                    {
                      complete: function() { location.href = location.href }
                    }
                  );
                });
              });
              return false;
            })
          ),
          $('<div />').addClass('col').addClass('s2').append(
            $('<a />').attr('href', '/track/' + track.id + '/view').text(track.name)
          ),
          $('<div />').addClass('col').addClass('s8').text(_rooms[track.room_id].name)
        )
      )
    });
  }

  function setupTracks() {
    listTracks(conference.tracks);

    $('#add-track-btn').click(function() {
      var $m = $('#add-track-form');
      var $s = $('select[name="room_id"]', $m);
      $s.empty();
      $.each(_venues, function(k, venue) {
        $(venue.rooms).each(function(i, room) {
          $s.append(
            $('<option />').attr('value', room.id).text(room.name)
          )
        });
      });
      $s.material_select();

      $m.modal('open');
    });
    $('#add-track-proceed').click(function() {
      var $m = $('#add-track-form');
      var $f = $('form', $m);
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
        error: function(xhr, status, err) {
          modalError(err);
        },
        success: function(data) {
          if (data.error) {
            modalError('{% trans %}Failed to create new track{% endtrans %}: ' + data.error)
            return
          }
          modalMessage(
            '{% trans %}Success{% endtrans %}',
            '{% trans %}Successfully created new track{% endtrans %}',
            {
              complete: function() { location.href = location.href }
            }
          );
        }
      });
      return false;
    });
  }

  function drawOrganizers(data) {
    var $c = $('.users', '#organizers');
    $c.empty();
    $(data).each(function(i, user) {
      var user_id = user.id;
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-track-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', user.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            ).click(function() {
              var $m = modalDelete(
                '{% trans %}Delete administrator warning{% endtrans %}',
                $('<div />').append(
                  $('<p />').append('{% trans %}Are you sure you want to remove the following organizer ?{% endtrans %}'),
                  $('<div />').addClass('chip').append(
                    $('<img />').attr('src', user.avatar_url),
                    $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
                  )
                )
              );
              $('.proceed-btn', $m).click(function() {
                $.ajax({
                  url: '/api/conference/administrator/remove',
                  method: 'POST',
                  data: {
                    'conference_id': {{ conference.id | tojson }},
                    'admin_id': user_id
                  }
                }).done(function(data) {
                  listOrganizers()
                }).fail(function(xhr, status, err) {
                  modalError(err);
                }).always(function() {
                  $m.modal('close');
                });
              });
              return false;
            })
          )
        ).append(
          $('<div />').addClass('col').addClass('s3').append(
            $('<div />').addClass('chip').append(
              $('<img />').attr('src', user.avatar_url),
              $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
            )
          )
        )
      )
    });
  }

  function drawStaff(data) {
    var $c = $('.users', '#staff');
    $c.empty();
    $(data).each(function(i, user) {
      var user_id = user.id;
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-track-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', user.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            ).click(function() {
              var $m = modalDelete(
                '{% trans %}Delete staff warning{% endtrans %}',
                $('<div />').append(
                  $('<p />').text('{% trans %}Are you sure you want to remove the following staff ?{% endtrans %}'),
                  $('<div />').addClass('chip').append(
                    $('<img />').attr('src', user.avatar_url),
                    $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
                  )
                )
              );
              $('.proceed-btn', $m).click(function() {
                $.ajax({
                  url: '/api/conference/staff/remove',
                  method: 'POST',
                  data: {
                    'conference_id': {{ conference.id | tojson }},
                    'staff_id': user_id
                  }
                }).done(function(data) {
                  listStaff()
                }).fail(function(xhr, status, err) {
                  modalError(err);
                }).always(function() {
                  $m.modal('close');
                });
              });
              return false;
            })
          )
        ).append(
          $('<div />').addClass('col').addClass('s3').append(
            $('<div />').addClass('chip').append(
              $('<img />').attr('src', user.avatar_url),
              $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
            )
          )
        )
      )
    });
  }



  function listDates(data) {
    var $c = $('.dates', '#dates');
    $c.empty();

    var $tbody = $("<tbody />");
    $c.append(
      $("<table />").addClass("bordered").append($tbody)
    );
    $(data).each(function(i, dt) {
      var open_dt = new Date(Date.parse(dt.open));
      var close_dt = new Date(Date.parse(dt.close));
      $tbody.append(
        $('<tr />').append(
          $('<td />').append(
            $('<button />').addClass('delete-date-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', dt.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            )
          ),
          $('<td />').append(
            open_dt.toLocaleDateString() + " " +
            open_dt.toLocaleTimeString().substring(0, 5) + " ~ " +
            close_dt.toLocaleTimeString().substring(0, 5)
          )
        )
      );
    });
  }

  function listStaff() {
    $.ajax({
      url: '/api/conference/staff/list',
      data: { conference_id: {{ conference.id | tojson }} },
      success: drawStaff
    });
  }

  function listOrganizers() {
    $.ajax({
      url: '/api/conference/administrator/list',
      data: { conference_id: {{ conference.id | tojson }} },
      success: drawOrganizers
    });
  }

  function setupOrganizers() {
    drawOrganizers(conference.administrators);
    var $m = $("#add-organizer-form");
    $m.modal();
    $("input[name='autocomplete_user_id']", $m).devbridgeAutocomplete({
      serviceUrl: "/api/user/incremental",
      onSelect: function(suggestion) {
        $('input[name="user_id"]', $m).attr('value', suggestion.data);
        $('button', $m).removeAttr('disabled');
      }
    });
    var $f = $('form', $m);
    $f.submit(function(e) {
      $.ajax({
        url: $f.attr("action"),
        method: $f.attr("method"),
        data: $f.serialize()
      }).done(function(msg) {
        listOrganizers();
      }).fail(function(xhr, status, err) {
        modalError(err);
      }).always(function() {
        $m.modal('close');
      });
      return false;
    });
  }

  function setupStaff() {
    drawStaff(staff);
    var $m = $("#add-staff-form");
    $m.modal();
    $("input[name='autocomplete_user_id']", $m).devbridgeAutocomplete({
      serviceUrl: "/api/user/incremental",
      onSelect: function(suggestion) {
        $('input[name="user_id"]', $m).attr('value', suggestion.data);
        $('button', $m).removeAttr('disabled');
      }
    });
    var $f = $('form', $m);
    $f.submit(function(e) {
      $.ajax({
        url: $f.attr("action"),
        method: $f.attr("method"),
        data: $f.serialize()
      }).done(function(msg) {
        listStaff();
      }).fail(function(xhr, status, err) {
        modalError(err);
      }).always(function() {
        $m.modal('close');
      });
      return false;
    });
  }

  function setupDates() {
    listDates(conference.dates);

    $('#add-date-form').hide();
    $('input.date', '#add-date-form').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true,
      selectYears: 5,
    });
    $('input.time', '#add-date-form').pickatime({
      twelvehour: false
    });
    $('#add-date-btn').click(function() {
      $('#add-date-form').show("slide");
      return false;
    });
    $('#add-date-form-btn').click(function() {
      var $f = $('form', '#add-date-form');
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
      }).done(function(msg) {
        $.ajax({
          url: '/api/conference/date/list',
          data: { conference_id: '{{ conference.id | tojson }}' },
        }).done(function(data) {
          listDates(data);
        });
      }).fail(function(chr, status, err) {
        console.log(err)
      });
      return false;
    });
  }

  function listFeaturedSpeakers(data) {
    var $c = $('.featured-speakers', '#featured-speakers');
    $c.empty();
    var row;
    $(data).each(function(i, speaker) {
      if (i == 0) {
        row = $("<div />").addClass("row");
        $c.append(row);
      }
      row.append(
        $("<div />").addClass("col").addClass("s2").addClass("featured-speaker")
          .append(
            $("<a />").attr("href", "/featured_speaker/" + speaker.id + "/view").append(
              $("<img />").attr("src", speaker.avatar_url),
              $("<br />"),
              speaker.display_name
            )
          )
      );
    });
  }

  function setupFeaturedSpeakers() {
    listFeaturedSpeakers(conference.featured_speakers);
    var $m = $("#add-featured-speaker-form");
    $m.modal();
    $('#add-featured-speaker-btn').click(function() {
      $('#add-featured-speaker-form').show("slide");
      return false;
    });
    $('#add-featured-speaker-form-btn').click(function() {
      var $f = $('form', '#add-featured-speaker-form');
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
      }).done(function(msg) {
        $.ajax({
          url: '/api/conference/featured_speaker/list',
          data: { conference_id: '{{ conference.id | tojson }}' },
        }).done(function(data) {
          listFeaturedSpeakers(data);
        });
      }).fail(function(chr, status, err) {
        console.log(err)
      });
      return false;
    });
  }

  function listSponsors(data) {
    var $c = $('.sponsors', '#sponsors');
    $c.empty();
    var row;
    $(data).each(function(i, sponsor) {
      if (i == 0) {
        row = $("<div />").addClass("row");
        $c.append(row);
      }

      var btn = $('<button />');
      btn.addClass('btn waves-effect red')
        .append(
          $('<i />').addClass('material-icons').addClass('left').text('delete')
        )
      ;
      btn.click(function() {
        var $m = modalDelete(
          '{% trans %}Delete sponsor warning{% endtrans %}',
          $('<div />').append(
            $('<p />').text('{% trans %}Are you sure you want to remove the following sponsor ?{% endtrans %}'),
            $('<div />').addClass('chip').append(
              $('<img />').attr('src', sponsor.logo_url),
              $('<a />').attr('href', '/sponsor/' + sponsor.id + '/view').text(sponsor.name)
            )
          )
        );
        $('.proceed-btn', $m).click(function() {
          $.ajax({
            url: '/api/conference/sponsor/remove',
            method: 'POST',
            data: {
              'conference_id': {{ conference.id | tojson }},
              'id': sponsor.id
            }
          }).done(function(data) {
            if (data.error) {
              modalError(data.error);
              return
            }
            $.ajax({
              url: '/api/conference/sponsor/list',
              data: {
                'conference_id': {{ conference.id | tojson }}
              }
            }).done(function(data) {
              listSponsors(data)
            });
          }).fail(function(xhr, status, err) {
            modalError(err);
          }).always(function() {
            $m.modal('close');
          });
        });
        return false;
      });

      row.append(
        $("<div />").addClass("col").addClass("s2").addClass("sponsor")
          .append(
            $("<a />").attr("href", "/sponsor/" + sponsor.id + "/view").append(
              $("<img />").attr("src", "https://builderscon.io/sharaq/sponsor-small/" + sponsor.logo_url),
              $("<br />"),
              sponsor.name
            ),
            btn
          )
      );
    });
  }

  function setupSponsors() {
    listSponsors(conference.sponsors);
    var $m = $("#add-sponsor-form");
    $m.modal();
    $('#add-sponsor-btn').click(function() {
      $('#add-sponsor-form').show("slide");
      return false;
    });
    $('#add-sponsor-form-btn').click(function() {
      var $f = $('form', '#add-sponsor-form');
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
      }).done(function(msg) {
        if (msg.error) {
          modalError('{% trans %}Failed to create new sponsor{% endtrans %}: ' + msg.error);
          return;
        }
        $.ajax({
          url: '/api/conference/sponsor/list',
          data: { conference_id: '{{ conference.id }}' },
        }).done(function(data) {
          listSponsors(data);
        });
      }).fail(function(chr, status, err) {
        console.log(err)
      }).always(function() {
        $m.modal('close');
      });
      return false;
    });
  }

  function setupTimezones() {
    var $c = $("#timezone-select");
    $c.append($("<option />").attr("value", "").text("---"));
    var timezones = {{ timezones | tojson }};
    for (i in timezones) {
      var tz = timezones[i];
      $c.append(
        $("<option />").attr("value", tz).text(tz)
      );
    }
    if (conference.timezone) {
      $c.val(conference.timezone);
    }
    $c.material_select();
  }

  function setupConferenceSeries() {
    var $c = $("select[name='series_id']");
    if (conference.series_id) {
      $c.val(conference.series_id);
    }
    $c.material_select();
  }

  function drawSessionTypes(data) {
    var $c = $(".session_types", "#session_types");
    var $tbody = $('<tbody />');
    $c.append(
      $('<table />').addClass('bordered').append(
        $('<thead />').append(
          $('<tr />').append(
            $('<td />'),
            $('<td />').text('Default'),
            $('<td />').text('Name'),
            $('<td />').text('Duration (sec)'),
            $('<td />').text('Submission Start'),
            $('<td />').text('Submission End')
          )
        ),
        $tbody
      )
    );

    if (! data) {
      return
    }

    $.each(data, function(i, stype) {
      $tbody.append(
        $('<tr />').append(
          $('<td />').append(
            $('<button />').addClass('delete-session-type-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', stype.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('left').text('delete'),
              '{% trans %}Remove{% endtrans %}'
            ),
            ' ',
            $('<a />').addClass('delete-session-type-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('href', '/session_type/' + stype.id + '/view').attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('left').text('mode_edit'),
              '{% trans %}Edit{% endtrans %}'
            )
          ),
          $('<td />').text(stype.is_default ? 'default' : '-'),
          $('<td />').text(stype.name),
          $('<td />').text(stype.duration),
          $('<td />').text(stype.submission_start ? new Date(Date.parse(stype.submission_start)).toLocaleString() : '-'),
          $('<td />').text(stype.submission_end ? new Date(Date.parse(stype.submission_end)).toLocaleString() : '-')
        )
      );
    });
  }

  function setupSessionTypes() {
    $('input.date', '#add-session-type-form').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true,
      selectYears: 5,
    }).css('width', '25%').attr('placeholder', 'yyyy-mm-dd');
    $('input.time', '#add-session-type-form').pickatime({
      twelvehour: false
    }).css('width', '25%').attr('placeholder', 'hh:mm');

    drawSessionTypes(conference.session_types);
  }

  function setupStatus() {
    var $s = $('select[name="status"]')
    $s.val(conference.status);
    $s.material_select();
  }

  $(document).ready(function() {
    var $toc = $('.toc-wrapper');
    $toc.pushpin({ "top": $($toc.parent()).offset().top });
    $('.scrollspy').scrollSpy({ scrollOffset: 100 });

    registerVenues(conference.venues);
    setupVenues();
    setupTracks();
    setupTimezones();
    setupOrganizers();
    setupStaff();
    setupDates();
    setupStatus();
    setupSessionTypes();
    setupSponsors();
    setupConferenceSeries();
    setupFeaturedSpeakers();
    $('.modal').modal();

    for (k in conference) {
      var keys = [k];
      $.each(["ja"], function(i, l) {
        keys.push(k + '#' + l);
      });
      $.each(keys, function(i, key) {
        $('*[name="' + key + '"]', '#basic').each(function(i, c) {
          $(c).val(conference[key]);
        });
      });
    }
  });
-->
</script>

{% if conference.venues |length > 0 %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
{% endif %}
{% endblock %}
