{% extends 'layouts/base.html' %}

{% block body_id %}conference{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="/static/css/materialize.clockpicker.css">
{% endblock %}
{% block additional_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script src="/static/js/materialize.clockpicker.js"></script>
{% endblock %}

{% block main %}
{% include 'component/message-modal.html' %}
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <p class="message"></p>
  </div>
  <div class="modal-footer">
    <button class="proceed-btn btn waves-effect waves-light" type="submit" name="action">Submit</button>
  </div>
</div>
<div id="success-modal" class="modal">
  <div class="modal-content">
    <h4>{% trans %}Success{% endtrans %}</h4>
    <p class="message"></p>
  </div>
</div>

{% set leftcol = 2 -%}
{%- set rightcol = 12 - leftcol -%}
<div class="row">
  <div class="col s12">
    <h2>{{ conference.title }}</h2>
  </div>
</div>

<div class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Miscellaneous{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul>
        <li><a href="/conference/{{ conference.id }}/blog_entries">{% trans %}Body Entries{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="twitter" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Twitter{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <p><a href="/conference/{{ conference.id }}/twitter/authenticate">{% trans %}Authenticate Twitter Account{% endtrans %}</a></p>
      <form action="/conference/{{ conference.id }}/twitter/post" method="POST">
        <div class="input-field">
          <label for="tweet">Tweet</label>
          <textarea name="tweet"></textarea>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons left">send</i>Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Sessions{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="/conference/{{ conference.id }}/sessions">{% trans %}Session List{% endtrans %}</a>
    </div>
  </div>
</div>

<div id="venues" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Venue{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#add-venue-form" class="modal-trigger"><i class="vmiddle material-icons left">library_add</i>Add a new venue</a>
    </div>
  </div>
  <div id="venue-list"></div>
  <div id="add-venue-form" class="modal modal-fixed-footer">
    <form action="/api/conference/venue/add" method="POST">
    <input type="hidden" name="conference_id" value="{{ conference.id }}">
    <div class="modal-content">
      <div class="row">
        <div class="col s{{ leftcol }} label">{% trans %}Venue{% endtrans %}</div>
        <div class="col s{{ rightcol }}">
          <select name="venue_id"></select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col s12">
          <button id="add-venue-proceed" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons left">send</i>
            {% trans %}Proceed{% endtrans %}
          </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>

<div id="tracks" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Tracks{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <a id="add-track-btn" href="#add-track-form" class="modal-trigger"><i class="vmiddle material-icons">library_add</i> Add a new track</a>
    </div>
  </div>
  <div class="tracks"></div>
  <div id="add-track-form" class="modal modal-fixed-footer">
    <form action="/api/track/create" method="POST">
      <input type="hidden" name="conference_id" value="{{ conference.id }}">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#track-basic-en">{% trans %}English{% endtrans %}</a></li>
              <li class="tab col s3"><a href="#track-basic-ja">{% trans %}Japanese{% endtrans %}</a></li>
            </ul>
          </div>
        </div>
        <div id="track-basic-en">
          <div class="row">
            <div class="col s2 label">{% trans %}Name (English){% endtrans %}</div>
            <div class="col s10">
              <input type="text" name="name" placeholder="{% trans %}Name (English){% endtrans %}" />
            </div>
          </div>
        </div>
        <div id="track-basic-ja">
          <div class="row">
            <div class="col s2 label">{% trans %}Name (Japanese){% endtrans %}</div>
            <div class="col s10">
              <input type="text" name="name#ja" placeholder="{% trans %}Name (Japanese){% endtrans %}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s2 label">{% trans %}Room{% endtrans %}</div>
          <div class="col s10">
            <select name="room_id"></select>
          </div>
        </div>
        <div class="row">
          <div class="col s2 label">{% trans %}Sort Order{% endtrans %}</div>
          <div class="col s10">
            <input type="text" name="sort_order" placeholder="0-99, ascending order" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12">
            <button id="add-track-proceed" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add Track{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="organizers" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Organizers{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#add-organizer-form" class="modal-trigger"><i class="vmiddle material-icons">library_add</i> Add a new organizer</a>
    </div>
  </div>
  <div class="users"></div>
  <div id="add-organizer-form" class="modal modal-fixed-footer">
    <form action="/api/conference/administrator/add" method="POST">
      <input type="hidden" name="conference_id" value="{{ conference.id }}">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <input type="text" name="autocomplete_user_id" placeholder="Type a user nickname (e.g. 'uzulla')">
            <input type="hidden" name="user_id">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12">
            <button id="add-organizer-proceed" class="btn waves-effect waves-light" type="submit" name="action">Submit
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<form action="/conference/{{ conference.id }}/edit" method="POST">
<div id="basic" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Basic Information{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s{{ leftcol }} label">{% trans %}Conference Series{% endtrans %}</div>
    <div class="col s{{ rightcol }}">
      <select name="series_id">
{% for series in conference_series %}
        <option value="{{ series.id }}">{{ series.title }}</option>
{% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s{{ leftcol }} label">{% trans %}Timetable Available{% endtrans %}</div>
    <div class="col s{{ rightcol }}">
      <input type="checkbox" class="filled-in" id="timetable_available-checkbox" name="timetable_available" value="true"{% if conference.timezone_available %} checked="checked"{% endif %}>
      <label for="timetable_available-checkbox">{% trans %}Yes{% endtrans %}</label>
    </div>
  </div>
  <div class="row">
    <div class="col s{{ leftcol }} label">{% trans %}Timezone{% endtrans %}</div>
    <div class="col s{{ rightcol }}">
       <select id="timezone-select" name="timezone"></select>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#basic-en">{% trans %}English{% endtrans %}</a></li>
        <li class="tab col s3"><a href="#basic-ja">{% trans %}Japanese{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
  <div id="basic-en">
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Title{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="title" placeholder="{% trans %}Conference Title (English){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Sub Title{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="sub_title" placeholder="{% trans %}Conference Sub Title (English){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Description{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <textarea name="description" placeholder="{% trans %}Description (English){% endtrans %}"></textarea>
      </div>
    </div>
  </div>
  <div id="basic-ja">
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Title{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="title#ja" placeholder="{% trans %}Conference Title (Japanese){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Sub Title{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <input type="text" name="sub_title#ja" placeholder="{% trans %}Conference Sub Title (Japanese){% endtrans %}">
      </div>
    </div>
    <div class="row">
      <div class="col s{{ leftcol }} label">{% trans %}Description{% endtrans %}</div>
      <div class="col s{{ rightcol }}">
        <textarea name="description#ja" placeholder="{% trans %}Description (Japanese){% endtrans %}"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button id="conference-update" class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons left">send</i>
        {% trans %}Update{% endtrans %}
      </button>
    </div>
  </div>
</div>
</form>

<form action="/conference/{{ conference.id }}/edit" method="POST">
<div id="components" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Text Components{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#components-en">{% trans %}English{% endtrans %}</a></li>
        <li class="tab col s3"><a href="#components-ja">{% trans %}Japanese{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
  <div class="row" id="components-en">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active">{% trans %}Contact Information (English){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="contact_information"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Lead Text (English){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_lead_text"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Pre-Submit Instructions (English){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_pre_submit_instructions"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Post-Submit Instructions (English){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_post_submit_instructions"></textarea>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="components-ja">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active">{% trans %}Contact Information (Japanese){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="contact_information#ja"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Lead Text (Japanese){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_lead_text#ja"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Pre-Submit Instructions (Japanese){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_pre_submit_instructions#ja"></textarea>
          </div>
        </li>
        <li>
          <div class="collapsible-header">{% trans %}CFP Post-Submit Instructions (Japanese){% endtrans %}</div>
          <div class="collapsible-body">
            <textarea name="cfp_post_submit_instructions#ja"></textarea>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button id="components-update" class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons left">send</i>
        {% trans %}Update{% endtrans %}
      </button>
    </div>
  </div>
</div>
</form>

<div id="dates" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Dates{% endtrans %}</div>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#add-date-form" class="modal-trigger"><i class="vmiddle material-icons">library_add</i> Add a new date</a>
    </div>
  </div>
  <div id="add-date-form" class="modal modal-fixed-footer">
    <form action="/api/conference/date/add" method="POST">
      <div class="modal-content">
        <input type="hidden" name="conference_id" value="{{ conference.id }}">
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}Date{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <input type="text" name="date" class="date">
          </div>
        </div>
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}Start Time{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <input type="text" name="start_time" class="time">
          </div>
        </div>
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}End Time{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <td><input type="text" name="end_time" class="time">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12">
            <button id="add-date-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="dates"></div>
    </div>
  </div>
</div>

<div id="session_types" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Session Types{% endtrans %}</div>
  </div>
  <div id="add-session-type-form" class="modal modal-fixed-footer">
    <form action="/api/conference/session_type/add" method="POST">
      <input type="hidden" name="conference_id" value="{{ conference.id }}">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#session-type-en">{% trans %}English{% endtrans %}</a></li>
              <li class="tab col s3"><a href="#session-type-ja">{% trans %}Japanese{% endtrans %}</a></li>
            </ul>
          </div>
        </div>
        <div id="session-type-en">
          <div class="row">
            <div class="col s{{ leftcol }} label">{% trans %}Name (English){% endtrans %}</div>
            <div class="col s{{ rightcol }}">
              <input type="text" name="name">
            </div>
          </div>
          <div class="row">
            <div class="col s{{ leftcol }} label">{% trans %}Abstract (English){% endtrans %}</div>
            <div class="col s{{ rightcol }}">
              <input type="text" name="abstract">
            </div>
          </div>
        </div>
        <div id="session-type-ja">
          <div class="row">
            <div class="col s{{ leftcol }} label">{% trans %}Name (Japanese){% endtrans %}</div>
            <div class="col s{{ rightcol }}">
              <input type="text" name="name#ja">
            </div>
          </div>
          <div class="row">
            <div class="col s{{ leftcol }} label">{% trans %}Abstract (Japanese){% endtrans %}</div>
            <div class="col s{{ rightcol }}">
              <input type="text" name="abstract#ja">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}Duration{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <input type="text" name="duration" placeholder="{% trans %}Duration in seconds{% endtrans %}">
          </div>
        </div>
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}Submission Start{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <input type="text" name="submission_start_date" class="date">
            <input type="text" name="submission_start_time" class="time">
          </div>
        </div>
        <div class="row">
          <div class="col s{{ leftcol }} label">{% trans %}Submission End{% endtrans %}</div>
          <div class="col s{{ rightcol }}">
            <input type="text" name="submission_end_date" class="date">
            <input type="text" name="submission_end_time" class="time">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s12">
            <button id="add-session-type-form-btn" class="btn waves-effect waves-light" type="submit" name="action">{% trans %}Add{% endtrans %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s12">
      <a href="#add-session-type-form" class="modal-trigger"><i class="vmiddle material-icons">library_add</i> Add a new session type</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="session_types"></div>
    </div>
  </div>
</div>

<div id="sponsors" class="box">
  <div class="row box-header">
    <div class="col s12">{% trans %}Sponsors{% endtrans %}
      <a href="#" id="add-sponsor-btn"><i class="material-icons vmiddle">library_add</i></a>
    </div>
  </div>
  <div class="row sponsors"></div>
  <div id="add-sponsor-form" class="row">
    <div class="col s12">
      <form action="/api/conference/sponsor/add" method="POST">
      <table>
      <tbody>
        <tr>
          <td>{% trans %}Name{% endtrans %}</td>
          <td><input type="text" name="name" placeholder="Sponsor Name (English)"></td>
        </tr>
        <tr>
          <td>{% trans %}Name (Japanese){% endtrans %}</td>
          <td><input type="text" name="name#ja" placeholder="日本語表記"></td>
        </tr>
        <tr>
          <td>{% trans %}URL{% endtrans %}</td>
          <td><input type="text" name="url" placeholder="http://www.company.com"></td>
        </tr>
        <tr>
          <td>{% trans %}Group Name{% endtrans %}</td>
          <td><input type="text" name="group_name" placeholder="tier-1"></td>
        </tr>
        <tr>
          <td>{% trans %}Sort Order{% endtrans %}</td>
          <td><input type="text" name="sort_order"></td>
        </tr>
      </tbody>
      </table>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block embedded_scripts %}
<script type="text/javascript">
<!--
  var conference = {% autoescape false %}{{ conference | tojson }}{% endautoescape %};
  if (! conference.venues) {
    conference.venues = [];
  }
  if (! conference.venues) {
    conference.tracks = [];
  }
  if (! conference.administrators) {
    conference.administrators = [];
  }

  function initMap() {
    drawVenues(conference.venues);
  }

  function loadVenues() {
    $.ajax({
      url: '/api/conference/venue/list',
      data: { id: {{ conference.id | tojson }} },
      method: 'GET',
      success: function(data) {
        registerVenues(data);
        drawVenues(data);
      }
    });
  }

  var _venues = {};
  var _rooms = {};
  function registerVenues(venues) {
    console.log("registerVenues");
    _venues = {};
    _rooms = {};
    $.each(venues, function(i, venue) {
      console.log("register venue " + venue.id)
      _venues[venue.id] = venue;
      $.each(venue.rooms, function(i, room) {
      console.log("register room " + room.id)
        _rooms[room.id] = room
      });
    });
    console.log(_venues);
    console.log(_rooms);
  }

  function drawVenues(venues) {
    var $c = $("#venue-list");
    $c.empty();
    $.each(venues, function(i, venue) {
      var id = 'map-' + i;
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-venue-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', venue.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            )
          ),
          $('<div />').addClass('col').addClass('s3').append(
            $("<a />").attr("href", "/venue/" + venue.id + "/view").text(venue.name),
            $("<div />").text(venue.address)
          ),
          $("<div />").addClass('col').addClass('s7').append(
            $("<div />").attr("id", id).addClass("map")
          )
        )
      );
      var e = document.getElementById(id);
      var latlng = {lat: venue.latitude, lng: venue.longitude };
      var map = new google.maps.Map(e, {
        center: latlng,
        scrollwheel: false,
        zoom: 14
      });
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: venue.name,
      });
    });

    $('.delete-venue-btn').click(function(e) {
      var $t = $(e.target);
      var id = $t.attr('data-id');
      var $m = $('#delete-modal');
      var v = _venues[id];
      $('.message', $m).empty().append(
        $('<p />').text('{% trans %}Are you sure you want to remove the following venue ?{% endtrans %}'),
        $('<div />').text(v.name)
      )

      $('.proceed-btn', $m).click(function() {
        $.ajax({
          url: '/api/conference/venue/delete',
          method: 'POST',
          data: { venue_id: id, conference_id: {{ conference.id | tojson }} },
          error: function(xhr, status, err) {
            console.log(err);
          },
          success: function(data) {
            var $m = $('#success-modal');
            $('.message', $m).text('{% trans %}Successfully deleted venue{% endtrans %}');
            $m.modal({
              complete: function() {
                console.log("delete complete");
                location.href = '/conference/{{ conference.id }}/view';
              }
            });
            $m.modal('open');
          }
        });
        return true;
      });
      $m.modal('open')

      return false;
    });
  }

  function setupVenues() {
    $("#add-venue-form").modal({
      ready: function() {
        $('select[name="venue_id"]').mtaerial_select();
      }
    });
    $("#add-venue-proceed").click(function() {
      var $s = $("select[name='venue_id']", "#venues");
      $.ajax({
        method: "POST",
        url: "/api/conference/venue/add",
        data: {
          venue_id: $s.val(),
          conference_id: {{ conference.id | tojson }}
        },
        success: function(data) {
          var $m = $('#success-modal');
          $('.message', $m).text('{% trans %}Successfully added venue{% endtrans %}');
          $m.modal({
            dismissible: true,
            complete: function() {
              console.log("add complete");
              location.href = '/conference/{{ conference.id }}/view'
            }
          });
          $m.modal('open');
        }
      });
      return false;
    });

    var $s = $("select[name='venue_id']", "#venues");
    $s.empty();
    $s.append($('<option />').text('---'));
    var venues = {{ venues | tojson }};
    $(venues).each(function(i, venue) {
      $s.append(
        $("<option />").attr("value", venue.id).text(venue.name)
      )
    });
    $s.material_select();
  }

  function listTracks(data) {
    var $c = $('.tracks', '#tracks');
    $(data).each(function(i, track) {
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-track-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', track.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            ).click(function() {
              var $m = $('#delete-modal');
              $('.message', $m).empty().append(
                $('<p />').text('{% trans %}Are you sure you want to remove the following track ?{% endtrans %}'),
                $('<div />').append(track.name + ' ' + _rooms[track.room_id].name)
              );
              $m.modal('open');
              $('.proceed-btn', $m).click(function() {
                $.ajax({
                  url: '/api/track/delete',
                  method: 'POST',
                  data: { 'id': track.id }
                }).fail(function(xhr, status, err) {
                  showModalError(err);
                }).done(function(data) {
                  if (data.error) {
                    showModalError(data.error);
                    return
                  }
                  $m.modal('close');
                  showModalMessage(
                    '{% trans %}Success{% endtrans %}',
                    '{% trans %}Successfully deleted track{% endtrans %}',
                    {
                      complete: function() { location.href = location.href }
                    }
                  );
                });
              });
              return false;
            })
          ),
          $('<div />').addClass('col').addClass('s2').append(
            $('<a />').attr('href', '/track/' + track.id + '/view').text(track.name)
          ),
          $('<div />').addClass('col').addClass('s8').text(_rooms[track.room_id].name)
        )
      )
    });
  }

  function setupTracks() {
    listTracks(conference.tracks);

    $('#add-track-btn').click(function() {
      var $m = $('#add-track-form');
      var $s = $('select[name="room_id"]', $m);
      $s.empty();
      $.each(_venues, function(k, venue) {
        $(venue.rooms).each(function(i, room) {
          $s.append(
            $('<option />').attr('value', room.id).text(room.name)
          )
        });
      });
      $s.material_select();

      $m.modal('open');
    });
    $('#add-track-proceed').click(function() {
      var $m = $('#add-track-form');
      var $f = $('form', $m);
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
        error: function(xhr, status, err) {
          showModalError(err);
        },
        success: function(data) {
          if (data.error) {
            showModalError('{% trans %}Failed to create new track{% endtrans %}: ' + data.error)
            return
          }
          showModalMessage(
            '{% trans %}Success{% endtrans %}',
            '{% trans %}Successfully created new track{% endtrans %}',
            {
              complete: function() { location.href = location.href }
            }
          );
        }
      });
      return false;
    });
  }

  function drawOrganizers(data) {
    var $c = $('.users', '#organizers');
    $c.empty();
    $(data).each(function(i, user) {
      var user_id = user.id;
      $c.append(
        $('<div />').addClass('row').append(
          $('<div />').addClass('col').addClass('s2').append(
            $('<button />').addClass('delete-track-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', user.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            ).click(function() {
              var $m = $('#delete-modal');
              $('.message', $m).append(
                $('<p />').text('{% trans %}Are you sure you want to remove the following administrator ?{% endtrans %}')
              ).append(
                $('<div />').addClass('chip').append(
                  $('<img />').attr('src', user.avatar_url),
                  $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
                )
              );
              $m.modal('open');
              $('.proceed-btn', $m).click(function() {
                $.ajax({
                  url: '/api/conference/administrator/remove',
                  method: 'POST',
                  data: {
                    'conference_id': {{ conference.id | tojson }}, 
                    'admin_id': user_id
                  }
                }).done(function(data) {
                  listOrganizers()
                }).fail(function(xhr, status, err) {
                  showModalError(err);
                }).always(function() {
                  $m.modal('close');
                });
              });
              return false;
            })
          )
        ).append(
          $('<div />').addClass('col').addClass('s3').append(
            $('<div />').addClass('chip').append(
              $('<img />').attr('src', user.avatar_url),
              $('<a />').attr('href', '/user/' + user.id + '/view').text(user.nickname)
            )
          )
        )
      )
    });
  }

  function listDates(data) {
    var $c = $('.dates', '#dates');
    $c.empty();

    var $tbody = $("<tbody />");
    $c.append(
      $("<table />").addClass("bordered").append($tbody)
    );
    $(data).each(function(i, dt) {
      var open_dt = new Date(Date.parse(dt.open));
      var close_dt = new Date(Date.parse(dt.close));
      $tbody.append(
        $('<tr />').append(
          $('<td />').append(
            $('<button />').addClass('delete-date-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', dt.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('vmiddle').text('delete'),
              ' {% trans %}Remove{% endtrans %}'
            )
          ),
          $('<td />').append(
            open_dt.toLocaleDateString() + " " +
            open_dt.toLocaleTimeString().substring(0, 5) + " ~ " +
            close_dt.toLocaleTimeString().substring(0, 5)
          )
        )
      );
    });
  }

  function listOrganizers() {
    $.ajax({
      url: '/api/conference/administrator/list',
      data: { conference_id: {{ conference.id | tojson }} },
      success: drawOrganizers
    });
  }

  function setupOrganizers() {
    drawOrganizers(conference.administrators);
    var $m = $("#add-organizer-form");
    $m.modal();
    $("input[name='autocomplete_user_id']", $m).devbridgeAutocomplete({
      serviceUrl: "/api/user/incremental",
      onSelect: function(suggestion) {
        $('input[name="user_id"]', $m).attr('value', suggestion.data);
        $('button', $m).removeAttr('disabled');
      }
    });
    var $f = $('form', $m);
    $f.submit(function(e) {
      $.ajax({
        url: $f.attr("action"),
        method: $f.attr("method"),
        data: $f.serialize()
      }).done(function(msg) {
        listOrganizers();
      }).fail(function(xhr, status, err) {
        showModalError(err);
      }).always(function() {
        $m.modal('close');
      });
      return false;
    });
  }

  function setupDates() {
    listDates(conference.dates);

    $('#add-date-form').hide();
    $('input.date', '#add-date-form').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true,
      selectYears: 5,
    });
    $('input.time', '#add-date-form').pickatime({
      twelvehour: false
    });
    $('#add-date-btn').click(function() {
      $('#add-date-form').show("slide");
      return false;
    });
    $('#add-date-form-btn').click(function() {
      var $f = $('form', '#add-date-form');
      $.ajax({
        url: $f.attr('action'),
        method: $f.attr('method'),
        data: $f.serialize(),
      }).done(function(msg) {
        $.ajax({
          url: '/api/conference/date/list',
          data: { conference_id: '{{ conference.id | tojson }}' },
        }).done(function(data) {
          listDates(data);
        });
      }).fail(function(chr, status, err) {
        console.log(err)
      });
      return false;
    });
  }

  function listSponsors(data) {
    var $c = $('.sponsors', '#sponsors');
    $c.empty();
    var row;
    $(data).each(function(i, sponsor) {
      if (i == 0) {
        row = $("<div />").addClass("row");
        $c.append(row);
      }
      row.append(
        $("<div />").addClass("col").addClass("s2").addClass("sponsor")
          .append(
            $("<a />").attr("href", "/conference/{{ conference.id }}/sponsor/" + sponsor.id + "/view").append(
              $("<img />").attr("src", sponsor.logo_url1),
              $("<br />"),
              sponsor.name
            )
          )
      );
    });
  }
    
  function setupSponsors() {
    listSponsors(conference.sponsors);
    $('#add-sponsor-form').hide();
    $('#add-sponsor-btn').click(function() {
      $('#add-sponsor-form').show("slide");
      return false;
    });
  }

  function setupTimezones() {
    var $c = $("#timezone-select");
    $c.append($("<option />").attr("value", "").text("---"));
    var timezones = {{ timezones | tojson }};
    for (i in timezones) {
      var tz = timezones[i];
      $c.append(
        $("<option />").attr("value", tz).text(tz)
      );
    }
    if (conference.timezone) {
      $c.val(conference.timezone);
    }
    $c.material_select();
  }

  function setupConferenceSeries() {
    var $c = $("select[name='series_id']");
    if (conference.series_id) {
      $c.val(conference.series_id);
    }
    $c.material_select();
  }

  function drawSessionTypes(data) {
    var $c = $(".session_types", "#session_types");
    var $tbody = $('<tbody />');
    $c.append(
      $('<table />').addClass('bordered').append(
        $('<thead />').append(
          $('<tr />').append(
            $('<td />'),
            $('<td />').text('Default'),
            $('<td />').text('Name'),
            $('<td />').text('Duration (sec)'),
            $('<td />').text('Submission Start'),
            $('<td />').text('Submission End')
          )
        ),
        $tbody
      )
    );

    if (! data) {
      return
    }

    $.each(data, function(i, stype) {
      $tbody.append(
        $('<tr />').append(
          $('<td />').append(
            $('<button />').addClass('delete-session-type-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('data-id', stype.id).attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('left').text('delete'),
              '{% trans %}Remove{% endtrans %}'
            ),
            ' ',
            $('<a />').addClass('delete-session-type-btn').addClass('btn').addClass('wafes-effect').addClass('waves-light').attr('href', '/session_type/' + stype.id + '/view').attr('type', 'submit').attr('name', 'action').append(
              $('<i />').addClass('material-icons').addClass('left').text('mode_edit'),
              '{% trans %}Edit{% endtrans %}'
            )
          ),
          $('<td />').text(stype.is_default ? 'default' : '-'),
          $('<td />').text(stype.name),
          $('<td />').text(stype.duration),
          $('<td />').text(stype.submission_start ? new Date(Date.parse(stype.submission_start)).toLocaleString() : '-'),
          $('<td />').text(stype.submission_end ? new Date(Date.parse(stype.submission_end)).toLocaleString() : '-')
        )
      );
    });
  }

  function setupSessionTypes() {
    $('input.date', '#add-session-type-form').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true,
      selectYears: 5,
    }).css('width', '25%').attr('placeholder', 'yyyy-mm-dd');
    $('input.time', '#add-session-type-form').pickatime({
      twelvehour: false
    }).css('width', '25%').attr('placeholder', 'hh:mm');

    drawSessionTypes(conference.session_types);
  }

  $(document).ready(function() {
    registerVenues(conference.venues);
    setupVenues();
    setupTracks();
    setupTimezones();
    setupOrganizers();
    setupDates();
    setupSessionTypes();
    setupSponsors();
    setupConferenceSeries();
    $('.modal').modal();

    for (k in conference) {
      var keys = [k];
      $.each(["ja"], function(i, l) {
        keys.push(k + '#' + l);
      });
      $.each(keys, function(i, key) {
        $('*[name="' + key + '"]').each(function(i, c) {
          $(c).val(conference[key]);
        });
      });
    }
  });
-->
</script>

{% if conference.venues |length > 0 %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
{% endif %}
{% endblock %}
